.card {
    border: 2px solid var(--color-background-feature);
    border-radius: var(--border-radius-s);
    width: 100%;
    height: 200px;
    background-color: var(--color-background-feature);
    padding: 1.5em;
}

.cardHeader {
    padding: 0 0 0.5em;
    font-weight: 400;
}

.cardTag {
    font-size: var(--font-size-small);
    color: var(--color-text-light-gray);
    margin: 0.2em 0 0.5em;
    padding: 0.5em;
    border-radius: var(--border-radius-xs);
    background-color: var(--color-text-dark-gray);
    display: inline-block;
}

.cardDetails {
    font-size: var(--font-size-small);
    padding: 1em 0 0;
}

.cardStatusTitle {
    color: var(--color-text-dark-gray);
}
