.card {
    border: 2px solid var(--color-background-feature);
    border-radius: var(--border-radius-s);
    width: 100%;
    height: 200px;
    background-color: var(--color-background-feature);
    padding: 1.5em;
}



.cardHeader {
    padding: 0 0 0.5em;
    font-weight: 400;
}
