.wrapper {
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 3em;
    padding: 0 1em;
}

@media (min-width: 576px) {
    .wrapper {
        margin: 1.5em 5em 3em;
    }
}
