.wrapper {
    background-color: var(--color-background-dark);
    border-radius: var(--border-radius-s);
    padding: 1em;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 1.5em 2em 3em;
}
