.wrapper {
    background-color: var(--color-background-dark);
    border-radius: var(--border-radius-s);
    padding: 2em;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 0 0 3em;
}

@media (min-width: 576px) {
    .wrapper {
        margin: 1.5em 6em 3em;
    }
}
