.wrapper {
    background-color: var(--color-background-dark);
    border-radius: var(--border-radius-s);
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1.5em auto 3em;
    width: 100%;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    justify-items: center;
    margin: 1.5em 0 0;
}
@media (min-width: 886px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .inputContainer {
        flex-direction: row;
        justify-content: space-between;
    }
    @media (min-width: 1200px) {
        .grid {
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
        }
    }
}
@media (min-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
}
