.wrapper {
    background-color: var(--color-background-black);
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.logo {
    height: 70px;
    position: relative;
    left: 3px;
}

.uiSection {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userButtons {
    padding: 20px 5px 10px 5px;
}

.userButton {
    color: var(--color-text-light-gray);
    background-color: transparent;
    border: none;
    font-family: 'lato', sans-serif;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body);
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}

.userButton:hover {
    color: var(--color-primary);
}

@media (min-width: 768px) {
    .logo {
        height: 100px;
    }

    .userButtons {
        margin-top: 20px;
    }
}

/* dark mode slider styles */

/* The switch - the box around the slider */
.switch {
    margin-top: 10px;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    background: var(--color-background-feature);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-background-feature);
    transition: 0.5s;
    border-radius: 30px;    
}

.slider:before {
    position: absolute;
    content: '';
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: 0.5s;
}

input:checked + .slider {
    background-color: var(--color-text-dark-gray);
}

input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}
