.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.spinner {
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 100px;
    height: 16px;

}

.spinner div {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--color-loading-spinner);
    border-radius: 50%;
    animation: spinner-4t3wzl 2s infinite linear;
}

.spinner div:nth-child(1) {
    left: 0;
    animation-delay: 0.15s;
    background-color: var(--color-loading-spinner-secondary);
}

.spinner div:nth-child(2) {
    left: 25%;
    animation-delay: 0.3s;
    background-color: var(--color-loading-spinner-tertiary);
}

.spinner div:nth-child(3) {
    left: 50%;
    animation-delay: 0.45s;
    background-color: var(--color-loading-spinner-quaternary);
}

.spinner div:nth-child(4) {
    left: 75%;
    animation-delay: 0.6s;
    background-color: var(--color-loading-spinner-quinary);
}

.spinner div:nth-child(5) {
    left: 100%;
    animation-delay: 0.75s;
    background-color: var(--color-loading-spinner-senary);
}


@keyframes spinner-4t3wzl {
    0% {
        transform: rotate(0deg) translateX(-100%);
    }

    100% {
        transform: rotate(360deg) translateX(-100%);
    }
}
