.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.spinner {
    margin-bottom: 20px;
    position: relative;
    width: 100px;
    height: 16px;

}

.spinner div {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #01e417;
    border-radius: 50%;
    animation: spinner-4t3wzl 2s infinite linear;
}

.spinner div:nth-child(1) {
    left: 0;
    animation-delay: 0.15s;
    background-color: rgba(251, 255, 0, 0.9);
}

.spinner div:nth-child(2) {
    left: 25%;
    animation-delay: 0.3s;
    background-color: rgba(255, 24, 24, 0.8);
}

.spinner div:nth-child(3) {
    left: 50%;
    animation-delay: 0.45s;
    background-color: rgba(54, 255, 4, 0.7);
}

.spinner div:nth-child(4) {
    left: 75%;
    animation-delay: 0.6s;
    background-color: rgba(255, 251, 7, 0.6);
}

.spinner div:nth-child(5) {
    left: 100%;
    animation-delay: 0.75s;
    background-color: rgba(255, 17, 0, 0.5);
}


@keyframes spinner-4t3wzl {
    0% {
        transform: rotate(0deg) translateX(-100%);
    }

    100% {
        transform: rotate(360deg) translateX(-100%);
    }
}
