.wrapper {
    width: 100%;
    min-height: 150px;
    border-top: 1px solid var(--color-text-dark-gray);
    padding: 20px;
}

.footerLink {
    color: var(--color-primary);
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 5px;
    font-family: "lato", sans-serif;
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size-body);
}

.footerLink:hover {
    text-decoration: underline;
}

.footerSubLink {
    color: var(--color-text-light-gray);
    background-color: transparent;
    border: none;
    padding: 5px;
    margin: 5px;
    font-family: "lato", sans-serif;
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size-small);
}

.footerSubLink:hover {
    text-decoration: underline;
}

p {
    padding: 10px;
    font-size: var(--font-size-small);
    color: var(--color-text-mid-gray);
}

@media (min-width: 768px) {
    .wrapper {
        border: none;
    }
}