@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  /* Colours */
  --color-primary: #ebd516; /*active link colour too*/
  --color-text-red: #e30022; /*for errors or deletion*/
  --color-text-light-gray: #e1e2e2;
  --color-text-mid-gray: #8c8d8f;
  --color-text-dark-gray: #555b5f; /*inactive text colour*/
  --color-background-black: #1b1c22; /*The main background */
  --color-background-feature: #323338;

  /* Font */
  --font-family-body: "Lato", sans-serif;

  /* Font Sizes */
  --font-size-heading: 3rem; /*h1*/
  --font-size-subheading: 2rem; /*h2*/
  --font-size-body: 1rem; /*p*/
  --font-size-small: 0.8rem;

  /* Font weights */
  --font-weight-bold: 700; /*for headings & links*/
  --font-weight-light: 300;

  /* Border Radius */
  --border-radius-s: 8px;
  --border-radius-m: 15px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: var(--font-family-body);
  margin: 0;
  padding: 0;
  background-color: var(--color-background-black);
  color: var(--color-text-light-gray);
}
